<head>
  <title>Бижутерия</title>
  <meta name="yandex-verification" content="db2de3079752f229" />
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?130"></script>
 <!--  <script src="E:/web/Meteor/Bizha/Microscope/bizha/node_modules/lightgallery/src/js/lightgallery.min.js"></script>
   <script src="E:/web/Meteor/Bizha/Microscope/bizha/node_modules/lightgallery/src/js/lg-thumbnail.min.js"></script>
    <script src="E:/web/Meteor/Bizha/Microscope/bizha/node_modules/lightgallery/src/js/lg-fullscreen.min.js"></script>
 <link type="text/css" rel="stylesheet" href="E:/web/Meteor/Bizha/Microscope/bizha/node_modules/lightgallery/src/css/lightgallery.css" /> -->
 <!-- <script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
</script> -->

<!-- <link rel="stylesheet" type="text/css" href="C:/Users/R/Downloads/skript/fancybox/jquery.fancybox.css">
<script type="text/javascript" src="C:/Users/R/Downloads/skript/fancybox/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="C:/Users/R/Downloads/skript/fancybox/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="C:/Users/R/Downloads/skript/fancybox/jquery.fancybox-1.2.1.pack.js"></script> -->
<!-- <script type="text/javascript">
$(document).ready(function() { 
$("a.first").fancybox(); 
$("a.two").fancybox(); 
$("a.video").fancybox({"frameWidth":520,"frameHeight":400}); 
$("a.content").fancybox({"frameWidth":600,"frameHeight":300}); 
});
</script>  -->
</head>
