<template name="postsList">
  <div class="posts page">
   <div class="container">
<div class="row">
<div class="col-lg-9">
    <div class="wrapper">
      {{#each posts}}
        {{> postItem}}
      {{/each}}
    </div>
    </div>
        <div class="col-lg-3">
        <div class="affix">

<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, width: "290", height: "400", color1: 'FFFFFF', color2: '000000', color3: '5E81A8'}, 116988168);
</script>

</div>
  </div>
     </div>
  </div>

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
 
  </div>
</template>
