<template name="postSubmit">
<div class="container">
<div class="row">
  <form class="main form page">
    <div class="form-group {{errorClass 'title'}}">
      <label class="control-label" for="title">Заголовок</label>
      <div class="controls">
          <input name="title" id="title" type="text" value="{{title}}" placeholder="Your title" class="form-control"/>
          <span class="help-block">{{errorMessage 'title'}}</span>
      </div>
    </div>
      <div class="form-group {{errorClass 'description'}}">
      <label class="control-label" for="description">Описание</label>
      <div class="controls">
          <input name="description" id="description" type="text" value="{{description}}" placeholder="Your description" class="form-control"/>
          <span class="help-block">{{errorMessage 'description'}}</span>
      </div>
    </div>
     <div class="form-group {{errorClass 'price'}}">
      <label class="control-label" for="price">Цена</label>
      <div class="controls">
          <input name="price" id="price" type="text" value="{{price}}" placeholder="Your price" class="form-control"/>
          <span class="help-block">{{errorMessage 'price'}}</span>
      </div>
    </div>
    <div class="col-lg-6">
       <div class="form-group {{errorClass 'image'}}">
      <label class="control-label" for="image"></label>
          <input name="image" id="image" type="text" value="{{image}}" placeholder="Картинка 1 (url)" class="form-control"/>
          <span class="help-block">{{errorMessage 'image'}}</span>
    </div>
     <div class="form-group {{errorClass 'image2'}}">
      <label class="control-label" for="image2"></label>
          <input name="image2" id="image2" type="text" value="{{image2}}" placeholder="Картинка 2 (url)" class="form-control"/>
          <span class="help-block">{{errorMessage 'image2'}}</span>
    </div>
     <div class="form-group {{errorClass 'image3'}}">
      <label class="control-label" for="image3"></label>
          <input name="image3" id="image3" type="text" value="{{image3}}" placeholder="Картинка 3 (url)" class="form-control"/>
          <span class="help-block">{{errorMessage 'image3'}}</span>
    </div>
    </div>
    <div class="radiobuttons">
    <div class="col-lg-1">
 <label>
 <input type="radio" name="private" value="1">Private
 </label>
 </div>
     <div class="col-lg-1">
 <label>
 <input type="radio" name="private" value="0">Public
 </label>
 </div>
</div>
    <input type="submit" value="Submit" class="btn btn-primary"/>

  </form>
  </div>
  </div>

</template>