<template name="postItem">

  <div class="post">
    <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
    <div class="post-content">
      <h3>
      <a href="{{url}}">{{title}}</a>
      <span style="color: grey">{{price}}</span>
      </h3>
      <strong>
      {{description}}
      </strong>
      <p>
      {{#if image}}
      <img style="width:235px" class="img-responsive img-margin" src="{{image}}" />
      {{/if}}
      {{#if image2}}
      <img style="width:235px" class="img-responsive img-margin" src="{{image2}}" />
      {{/if}}
      {{#if image3}}
      <img style="width:235px" class="img-responsive img-margin" src="{{image3}}" />
      {{/if}}
      </p>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a style="margin-left: 10px" href="{{pathFor 'postEdit'}}">  &#9998;  </a>{{/if}}
   
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Оставить отзыв</a>
    </div>

</template>