<template name="page11">
<script type="text/javascript"> 
var script = document.createElement('SCRIPT'); 
script.src = "https://api.vk.com/method/photos.getAll?owner_id=-116988168&v=5.53&access_token=feb8d907b468b3dd5f4220a2fce9a68ee80e89f91fb95f1a2e874745b357a36817a1d2e87c06c19d12e59&offset=550&count=50&callback=callbackFunc"; 
document.getElementsByTagName("head")[0].appendChild(script); 
function callbackFunc(result) { 

var ans = result.response.items;

for(var i=0; i<ans.length; i++) {

	var photos = ans[i].photo_604,
		text = ans[i].text;

		// console.log(ans[i]);

var imgGen = "";
var txt = "";
txt = "<span style='font-size:11px;' id='textZ"+i+"'>"+ans[i].text+"</span>";
imgGen = imgGen +''+ "<img width='370' class='img-responsive img-thumbnail' title='"+ans[i].text+"' style='margin-top:10px; margin-left:5px;' id='fromVK11z"+i+"' src='' />";

	 document.getElementById('fromVK11').innerHTML = document.getElementById('fromVK11').innerHTML  + imgGen;
	 document.getElementById("fromVK11z"+i).src = photos;
}

} 
</script> 

{{> pagesNav}}

<div class="container">
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<div id="fromVK11" class="">

    </div>
  </div>

</div>
</div>
</template>