<template name="vk">


<script type="text/javascript"> 
var script = document.createElement('SCRIPT'); 
script.src = "https://api.vk.com/method/photos.getAll?owner_id=-116988168&v=5.53&access_token=feb8d907b468b3dd5f4220a2fce9a68ee80e89f91fb95f1a2e874745b357a36817a1d2e87c06c19d12e59&offset=0&count=50&callback=callbackFunc"; 
document.getElementsByTagName("head")[0].appendChild(script); 
function callbackFunc(result) { 
	// var div = document.getElementById('fromVK').src = "http://cs627627.vk.me/v627627696/41497/214d1OUM6fw.jpg";
// function vk(element){

// 	var allPic = element.photo_604;
// 	return allPic;
// }

var ans = result.response.items;
// console.log(ans);
// console.log('Photos: '+ans.length);

// var photosNC = ans[2].photo_604;

for(var i=0; i<ans.length; i++) {

// console.log(i);
	var photos = ans[i].photo_604,
		text = ans[i].text;

	// console.log(ans[i]);
	// console.log(ans[i].text);
	// alert(ans[i].id);
	// var out = "";
	// var out = out +' '+ ans[i].photo_604;
var imgGen = "";
var txt = "";
txt = "<span style='font-size:11px;' id='textZ"+i+"'>"+ans[i].text+"</span>";
imgGen = imgGen +''+ "<img width='370' class='img-responsive img-thumbnail' title='"+ans[i].text+"' style='margin-top:10px; margin-left:5px;' id='fromVK123z"+i+"' src='' />";

	 // document.getElementById('textZ').innerHTML =  document.getElementById('textZ').innerHTML + txt;
	 document.getElementById('fromVK').innerHTML = document.getElementById('fromVK').innerHTML  + imgGen;

	 // document.getElementById('heading').innerHTML = "Фото: " + ans.length;
	 document.getElementById("fromVK123z"+i).src = photos;
   // return photos; 
}
// console.log('Photos: '+ans.length);
// var div = document.getElementById('fromVK').src = photos;

// div.innerHTML = div.innerHTML + result.response.items[0].photo_604;

// alert(result.response[0].first_name) 
} 
</script> 

{{> pagesNav}}

<div class="container">
  <div class="row">
<!-- <div class="panel panel-default"> -->
    <!-- <div id="heading" class="panel-heading"></div> -->
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

<!--     <div align="center">

<a class="two" rel="group" title="Глубоководные рыбы" href="C:/Users/R/Downloads/skript/images/okon600.jpg"><img src="C:/Users/R/Downloads/skript/images/okon180.jpg" /></a>

<a class="two" rel="group" title="Пещерные рыбы" href="C:/Users/R/Downloads/skript/images/kit600.jpg"><img src="C:/Users/R/Downloads/skript/images/kit180.jpg" /></a>

<a class="two" rel="group" title="Чудные рыбы" href="C:/Users/R/Downloads/skript/images/som600.jpg"><img src="C:/Users/R/Downloads/skript/images/som180.jpg" /></a>

</div> -->

    <!-- <div id="lightgallery"> -->
<div id="fromVK" class="">

<!-- <div id="lightgallery">
  <a href="img/img1.jpg">
      <img src="img/thumb1.jpg" />
  </a>
  <a href="img/img2.jpg">
      <img src="img/thumb2.jpg" />
  </a>
  
</div> -->
<!-- </div> -->
<!-- </div> -->
    </div>
  </div>

<!-- <div id="fromVK" class="col-lg-12">

	<img id='fromVK123z' src='' />
</div>
 -->
<!-- <div class="col-lg-2">
<strong>Your first name: </strong>{{firstName}}
</div><br/>
<div class="col-lg-2">
<strong>Your last name: </strong>{{lastName}}
</div> -->
</div>
</div>
<!-- <script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery(); 
    });
</script> -->
</template>