<template name="pagesNav">

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigationPages">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="navigationPages">
      <ul class="nav navbar-nav">
        <li class="{{activeRouteClass 'vk' }}">
          <a href="{{pathFor 'vk'}}">1</a>
        </li>
         <li class="{{activeRouteClass 'page2' }}">
          <a href="{{pathFor 'page2'}}">2</a>
        </li>
         <li class="{{activeRouteClass 'page3' }}">
          <a href="{{pathFor 'page3'}}">3</a>
        </li>
          <li class="{{activeRouteClass 'page4' }}">
          <a href="{{pathFor 'page4'}}">4</a>
        </li>
            <li class="{{activeRouteClass 'page5' }}">
          <a href="{{pathFor 'page5'}}">5</a>
        </li>
            <li class="{{activeRouteClass 'page6' }}">
          <a href="{{pathFor 'page6'}}">6</a>
        </li>
            <li class="{{activeRouteClass 'page7' }}">
          <a href="{{pathFor 'page7'}}">7</a>
        </li>
            <li class="{{activeRouteClass 'page8' }}">
          <a href="{{pathFor 'page8'}}">8</a>
        </li>
            <li class="{{activeRouteClass 'page9' }}">
          <a href="{{pathFor 'page9'}}">9</a>
        </li>
            <li class="{{activeRouteClass 'page10' }}">
          <a href="{{pathFor 'page10'}}">10</a>
        </li>
            <li class="{{activeRouteClass 'page11' }}">
          <a href="{{pathFor 'page11'}}">11</a>
        </li>
           <!--  <li class="{{activeRouteClass 'page12' }}">
          <a href="{{pathFor 'page12'}}">12</a>
        </li>
            <li class="{{activeRouteClass 'page13' }}">
          <a href="{{pathFor 'page13'}}">13</a>
        </li> -->
       
      </ul>
    </div>
  </nav>

  </template>