<template name="footer">
<!-- <footer class="navbar-fixed-bottom"> -->
<!-- <div class="panel panel-info"> -->

Связь: <a href="https://vk.com/id351723696">Вконтакте</a>, Телефон: +380988886614, Email: yastremskaya.darya@gmail.com, <a href="https://vk.com/club116988168">Группа Вконтакте</a>

<!-- </div> -->
<!-- </footer> -->
</template>